{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réserver {{ reservation.service.name }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.dateStart) }}
        {{ form_row(form.dateEnd) }}
        {{ form_row(form.statut) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <button type="submit" class="btn btn-primary">Réserver</button>
    {{ form_end(form) }}
{% endblock %}
